#header-name {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: url("photo/b2.jpg") center/cover no-repeat;
    color: #fff;
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #header-name h1{
    font-size: 70px;
  }
.card-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #f4f4f4;
  }
  
  .card {
    display: flex;
    width: calc(50% - 20px); /* Set to 50% minus margin for two cards per row */
    margin: 10px;
    background-color: #fff;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  .card-section p{
    color: black;
  }
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    flex: 0 0 40%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
  .card-content {
    flex: 0 0 60%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Set a fixed height for card images */
  .card-image {
    height: 200px; /* Adjust the height as needed */
  }
    /* Style adjustments for responsiveness */
    @media screen and (max-width: 768px) {
        .card {
          width: 100%; /* Full width on smaller screens */
          flex-direction: column; /* Stack image and content vertically on smaller screens */
        }
      
        .card-content {
          flex: 0 0 100%; /* Full width for content on smaller screens */
          padding-top: 15px; /* Add some space at the top for better separation */
        }
      }
  